.button{
  margin: 50px 20px 0px 20px;
  width: 60px;
  height: 60px;
  background: #222;
  color: aliceblue;
  border: 5px solid transparent;
  border: none;
  border-radius: 50%;
  font-size: 25px;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:active{
    transition: .5s;
    background: #424242;
  }
  &:hover{
    border: 3px solid #272727;
    background: #595959;
  }
  &__icon {
    width: 26px;
    height: 26px;
    display: flex;
    // margin: 0px 0px 0px 16px;
  }
}
.buttons {
  position: relative;
  display: flex;
  justify-content: center;
}